<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to select images from your Photo Library.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>opensansmediumitalic.ttf</string>
		<string>ralewaysemibolditalic.ttf</string>
		<string>opensanslightitalic.ttf</string>
		<string>ralewayextralightitalic.ttf</string>
		<string>opensansregular.ttf</string>
		<string>opensansbold.ttf</string>
		<string>opensanslight.ttf</string>
		<string>opensanssemibold.ttf</string>
		<string>ralewaymediumitalic.ttf</string>
		<string>ralewaylight.ttf</string>
		<string>opensanssemibolditalic.ttf</string>
		<string>opensansbolditalic.ttf</string>
		<string>opensansitalic.ttf</string>
		<string>opensansextrabolditalic.ttf</string>
		<string>ralewayitalic.ttf</string>
		<string>ralewayblack.ttf</string>
		<string>ralewayextralight.ttf</string>
		<string>ralewayextrabolditalic.ttf</string>
		<string>ralewayregular.ttf</string>
		<string>ralewaymedium.ttf</string>
		<string>ralewaythinitalic.ttf</string>
		<string>ralewaybolditalic.ttf</string>
		<string>ralewayblackitalic.ttf</string>
		<string>opensansmedium.ttf</string>
		<string>opensansextrabold.ttf</string>
		<string>ralewaybold.ttf</string>
		<string>ralewaylightitalic.ttf</string>
		<string>ralewayextrabold.ttf</string>
		<string>ralewaythin.ttf</string>
		<string>ralewaysemibold.ttf</string>
	</array>
</dict>
</plist>
